<div id="outer">
    <div id="title">Your Habits</div>
<div id="new_habit"><%= link_to '+ Add Habit', new_habit_path %></div>
 
<% @habits.each do |habit| %>
    <div class="habit">
      <div class="habit_name"><%= link_to habit.title, habit_path(habit) %>
      <div class="days_left"><%= habit.days != 0 ? 'You have ' + habit.days.to_s + 
                                             (habit.days != 1 ? ' days left' : ' day left') : 'completed' %></div>
      </div>
      <ul class="info">
        <% if habit.days <= 0 %>
            <li>COMPLETED</li>
        <% elsif Time.now - habit.updated_at >= 2.day %>
            <li><%= link_to "You missed a day! Continue?", habit_path(habit), :method=> :put %></li>
        <% elsif Time.now - habit.updated_at > 1.day || habit.updated_at == habit.created_at %>
          <li><%= link_to "Log for today", habit_path(habit), :method=> :put %></li>
        <% else %>
            <li>You've already logged today! </li>
        <% end %>
 
        <li><%= link_to 'Delete', habit_path(habit), 
                method: :delete,
                data: { confirm: (habit.days > 0 ? 'Are you sure? You have ' + habit.days.to_s + 
                                                (habit.days == 1 ? ' day' : ' days') + ' left for this habit!' 
                                                : 'Are you sure you want to delete this accomplishment?')} %></li>
      </ul>
    </div>
<% end %>
</div>
