<h1>New Habit Here</h1>
<%= form_with scope: :habit, url: habits_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :days %><br>
    <%= form.number_field :days %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', habits_path %>
