<p>
  <strong>Habit:</strong>
  <%= @habit.title %>
</p>
 
<p>
  <strong>Days left:</strong>
  <%= @habit.days > 0 ? @habit.days : '0! Congrats!' %>
</p>
<%= link_to_if @habit.days > 0, "I did it!", habit_path(@habit), :method=> :put%>
<%= link_to 'Destroy', habit_path(@habit), 
                method: :delete,
                data: { confirm: (@habit.days > 0 ? 
                                  'Are you sure? You have ' + @habit.days.to_s + ' days left for this habit!' 
                                : 'Are you sure you want to delete this accomplishment?')} %>

<%= link_to 'Back', habits_path %>

