<div id="outer">
<div id="title">
  <%= @habit.title %>
</div>
 
<%= @habit.days > 0 ? @habit.days.to_s + 
                        (@habit.days == 1 ? ' day' : ' days') + ' left' : 'COMPLETED' %>
<ul style="margin-top: 20px; margin-bottom: 5px;">

    <% if Time.now - @habit.updated_at < 1.minute %>
        <li>One day down!</li>
    <% elsif @habit.days > 0 && Time.now - @habit.updated_at > 1.day || @habit.updated_at == @habit.created_at %>
        <li><%= link_to "Log for today", habit_path(@habit), :method=> :put%></li>
    <% else %>
        <li>You've already logged today! </li>
    <% end %>
    <li><%= link_to 'Delete', habit_path(@habit), 
                method: :delete,
                data: { confirm: (@habit.days > 0 ? 
                                  'Are you sure? You have ' + @habit.days.to_s + 
                                  (@habit.days == 1 ? ' day' : ' days') + ' left for this habit!' 
                                : 'Are you sure you want to delete this accomplishment?')} %></li>
</ul>
<%= link_to '< Back', habits_path %>
</div>
